---
import { servicename } from "@/env/vars"
import { policyurl, abouturl } from "@/env/envs"
const siteurl = Astro.url.origin
---

<div id="footer" class="text-center w-full mb-0">
    <div class="bg-white bg-opacity-90 w-full py-2 m-auto mb-0">
        <div class="mb-0">
            <a href={abouturl} class="mx-2">当サイトについて</a><a
                href={policyurl}
                class="mx-2">プライバシーポリシー</a
            >
        </div>
        <div class="mb-0">
            2024 © <a href={siteurl}>{servicename}</a>
        </div>
    </div>
</div>
