---
import Pagelayout from "@/layouts/Pagelayout.astro";
import { subject } from "@/utils/tailwind_variants";
---

<Pagelayout cardPath="/materials/ogp_main.png" pageTitle="404 - SkyDrop">
    <h1 class={subject({ size: "xl" })}>404 not found.</h1>
    Sorry but the page seems removed.
</Pagelayout>
