---
import Pagelayout from "@/layouts/Indexlayout.astro";
import { link } from "@/utils/tailwind_variants";
import cloud from "@/images/cloud.svg";
import { github_url, abouturl, posturl } from "@/utils/vars";

const svgbsky_url = `url('/materials/bluesky.svg')`;
const svgtag_url = `url('/materials/tag.svg')`;
const svgtwi_url = `url('/materials/twitter.svg')`;
---

<style define:vars={{ svgbsky_url, svgtwi_url, svgtag_url }}>
	.bsky {
		mask-image: var(--svgbsky_url);
		mask-size: 100%;
		mask-repeat: no-repeat;
		background: #1185fe;
	}
	.twi {
		mask-image: var(--svgtwi_url);
		mask-size: 100%;
		mask-repeat: no-repeat;
		background: #444;
	}
	.tag {
		mask-image: var(--svgtag_url);
		mask-size: 100%;
		mask-repeat: no-repeat;
		background: #ff8f8f;
		aspect-ratio: 135/50;
		font-size: min(4vw, 28px);
	}
</style>
<Pagelayout cardPath="/materials/ogp_main.png" pageTitle="BskyLinX">
	<div class="absolute overflow-hidden bottom-20 w-1/2 -z-10 left-1/2">
		<img src={cloud.src} class="lg:max-w-4xl md:max-w-3xl w-max max-w-md" />
	</div>

	<div class="text-center mx-auto md:max-w-3xl my-4 font-extrabold relative">
		<div class="relative">
			<img
				src="/materials/longlogo.svg"
				class="max-w-2xl mb-8 mx-auto w-11/12"
			/>
			<div
				class="tag aspect-auto[135/73] top-2/3 left-3/4 max-w-32 w-1/5 font-mono absolute leading-none font-extrabold rotate-12"
			>
				<span class="block top-0 bottom-0 left-3 right-0 m-auto w-min h-min absolute text-gray-700">&nbsp;*Beta</span>
			</div>
		</div>
		<div class="max-w-3xl my-8 text-2xl font-normal">
			<div class="h-20">
				<div
					class="bsky max-w-12 mx-4 w-full aspect-square my-auto inline-block align-middle"
				>
				</div>
				<span class="align-middle">と</span>
				<div
					class="twi max-w-12 mx-4 w-full aspect-square inline-block align-middle"
				>
				</div>
				<span class="block my-2 text-xl"
					>同時投稿するためのウェブアプリです</span
				>
			</div>
		</div>
		<a
			href={posturl}
			class={link({
				class: "bg-white text-xl bg-opacity-80 border-0 py-4 px-10 focus:outline-none hover:bg-sky-200 inline-flex rounded-full transition-colors",
			})}
			>Blueskyへログイン
		</a>
	</div>
	<div class="text-center mx-auto md:max-w-3xl my-5">
		<div class="bg-white bg-opacity-80 rounded-lg w-fit px-4 py-2 m-auto">
			<a href={abouturl} class={link({ class: "mx-2" })}>About</a>
			<a href={github_url} class={link({ class: "mx-2" })}>Github</a>
		</div>
	</div>
</Pagelayout>
