---
import { baseurl, siteurl } from "@/utils/vars";

const ref_privacy = baseurl + "privacypolicy/";
import { link } from "@/utils/tailwind_variants";
---

<div class="text-center w-full">
    <div class="bg-white bg-opacity-90 w-full py-2 m-auto">
        <div>
            <a href={ref_privacy} class={link({ class: "mx-2" })}
                >プライバシーポリシー</a
            >
        </div>
        <div>
            2024 © <a href={siteurl} class={link()}
                >BskyLinX</a>
        </div>
    </div>
</div>
