---
// thanks for https://tailblocks.cc/
import { baseurl, github_url, abouturl, posturl } from "@/utils/vars";
import { link } from "@/utils/tailwind_variants";
---

<header class="bg-opacity-90 text-gray-600 body-font bg-white">
    <div
        class="container mx-auto max-w-5xl flex flex-wrap p-4 flex-row items-center"
    >
        <a
            href={baseurl}
            class="flex title-font font-medium items-center mx-4 mb-0"
        >
            <img src="/materials/longlogo.svg" class="h-10" />
        </a>
        <nav
            class="ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <div class="md:block hidden">
                <a href={abouturl} class={link({ class: "mx-2" })}>About</a>
                <a href={github_url} class={link({ class: "mx-2" })}>Github</a>
            </div>

            <a
                href={posturl}
                class={link({
                    class: "bg-white border-2 py-1 px-3 focus:outline-none hover:bg-sky-200 mx-2 inline-flex rounded-full transition-colors",
                })}
                >ログイン
            </a>
        </nav>
    </div>
</header>
