---
interface Props {
    pageTitle: string;
    cardPath: string;
    robots: string[];
    hideLoader?: boolean;
}
const { cardPath, pageTitle, robots, hideLoader = false } = Astro.props;
import Header from "@/components/Header.astro";
import Fotter from "@/components/Fotter.astro";
import Blanklayout from "@/layouts/Blanklayout.astro";
---

<Blanklayout cardPath={cardPath} pageTitle={pageTitle} robots={robots}>
    <Header hideLoader={hideLoader} slot="header" />
    <div class="container mx-auto p-5 max-w-5xl">
        <div class="bg-white bg-opacity-80 p-5 rounded-lg">
            <slot />
        </div>
    </div>
    <Fotter slot="footer" />
</Blanklayout>
